@{
  Layout = "_Layout";
}

@if (User.Identity.IsAuthenticated)
{
  <h1>HELLO @User.Identity.Name!</h1>
  <hr />
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <p>@Html.ActionLink("See all Flavors", "Index", "Flavors")</p>
    <p>@Html.ActionLink("See all Treats", "Index", "Treats")</p>
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
    <hr />
    <input type="submit" value="Log out" class="btn btn-success">
  }
}
else 
{
  <h1>REGISTER/LOGIN</h1>
  <hr />
  <h2>@Html.ActionLink("Need to create an account?", "Register", "Account")</h2>
  <h2>@Html.ActionLink("Log in", "Login")</h2>
  <h2>@Html.ActionLink("Return home", "Index", "Home")</h2>
}