@{
  Layout = "_Layout";
}

@using Bakery.ViewModels
@model RegisterViewModel

<h1>Register as a new user</h1>
<hr>
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  <div class="form-group">
    @Html.LabelFor(user => user.Email)
    @Html.TextBoxFor(user => user.Email, new {@class="form-control"})

    @Html.LabelFor(user => user.Password)
    @Html.PasswordFor(user => user.Password, new {@class="form-control"})

    @Html.LabelFor(user => user.ConfirmPassword)
    @Html.PasswordFor(user => user.ConfirmPassword, new {@class="form-control"})
  </div>
  <input type="submit" value="Register">
  <p>@Html.ActionLink("Already have an account?", "Login", "Account")</p>
  <p>@Html.ActionLink("Return home", "Index", "Home")</p>
}